#about {
    margin: 20px 45px;
    width: auto;
    padding: 15px;
    transition: all 500ms;
    line-height: 1.8em;
    

    h5 {
        color: rgba(32, 255, 255, 1);
    }

    p {
        font-size: 1em;
        color: rgba(32, 255, 255, 1);
        transition: font-size 500ms;
        text-align: justify;
    }

    a {
        color: magenta;
    }
    .fab {
        margin: 0 .4em;
    }
    .fa-caret-right,
    .fa-caret-left {
        font-size: 1em;
        vertical-align: -.1em;
        margin: 0 5px;
    }

    #fa-mysql {
        display: inline !important;

        img {
            width: 8%;
            position: relative;
            filter: brightness(9);
            top: -5px;
        }

    }
}
.increase-about {
    margin: 0 155px !important;
    transition: all 500ms;
    line-height: 4em !important;
    margin-bottom: 20% !important;

    p {
        font-size: 2em !important;
        transition: font-size 500ms;
        span {
            font-size: 1.5em;            
        }
        #fa-mysql {
            display: inline !important;
            vertical-align: 15%;
            img {
                top: 5px !important;
                width: 6% !important;
                height: 11%;
                margin-left: 10px;
                filter: brightness(9);
            }

        }
    }
}