@import './partials/_nav.scss';
@import './partials/_holoCards.scss';
@import './partials/mediaQueries.scss';
@import './partials/welcome.scss';
// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    text-decoration: none;

    .main-container {
      overflow: hidden;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-image: url(./assets/img/aboutMe.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      
      .layover{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);          

        @media screen and (max-width: 375px) {
            background-color: rgba(0, 0, 0, .2);
        }
      }
    }


    .fade-in {
        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .fade-out {
        animation: fade-out 1.5s ease-out both;
    }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

   .zero {
       height: 0 !important;
       z-index: -1;
       transition: height linear 600ms;
   }

   .hundred {
       transition: height linear 600ms; 
   }
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(32, 255, 255, .6);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 240, 255, .8);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(32, 255, 255, .6);
}

::-webkit-scrollbar-track {
  background: rgba(32, 255, 255, .4);
  border: 46px none #ffffff;
  border-radius: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


}