#carousel {
    .left-2 {
        transform: translateX(0px) translateZ(-1070px) rotateY(0deg) !important;
        opacity: 0.6 !important;
    }
}

.holoContainerLayover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, .5);
    transition: all 500ms;
}

.holoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border: 2px solid #20FFFF;
    color: #20FFFF;
    border-radius: 45px; 
    overflow-x: auto;
    padding-bottom: 10px;
    transition: all 500ms;

    .fa-expand-arrows-alt,
    .fa-compress-arrows-alt {
        transform: scale(0.5);
        transition: all 500ms;
        animation: pulse 2.5s infinite;
        &:hover {
            transform: scale(1);
            transition: all 500ms; 
        }
    }

    @keyframes pulse {
      0% {
        transform: scale(0.5);
      }
  
      70% {
        transform: scale(0.7);
      }
  
      100% {
        transform: scale(0.5);
      }
    }

    .fa-compress-arrows-alt {
        left: 95%;
    }

         
    .holo-top {
        width: 95%;
        height: 60px;
        border-bottom: 2px solid #20FFFF;
        margin: 0 auto;
        border-radius: 45px;
        background-color: rgba(32,255,255, .2);
        background: linear-gradient(90deg, rgba(0, 0, 0, .8) 10%, rgba(35, 55, 55, 1) 50%, rgba(0, 0, 0, .8) 100%);
        position: sticky;
        top: 0;
        z-index: 2;
        h2 {
            line-height: 60px;
        }
    }
    main {
        display: flex;
    }
    // ABOUT CARD
    @import 'holoCards/_about.scss';
    // PROJECTS CARD
    @import 'holoCards/_projects.scss';
    // CONTACTS CARD
    @import 'holoCards/_contacts.scss';


}
.holoContacts {
    overflow: hidden;
}
i {
    position: sticky;
    bottom: 20px;
    left: 90%;
    font-size: 2rem;
    cursor: pointer;
    color: magenta;

    @media screen and (max-width: 700px) {
        display: none !important;
    }
}
.max-width {
    width: 100% !important;
    height: 96vh !important;
    top: 49%;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, .6);
}





