
.holoContainer {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    border: 2px solid #20FFFF;
    color: #20FFFF;
    border-radius: 45px;       
     
    .holo-top {
        width: 95%;
        height: 60px;
        border-bottom: 2px solid #20FFFF;
        margin: 0 auto;
        border-radius: 45px;
        background-color: rgba(32,255,255, .2);
        background: linear-gradient(90deg, rgba(32,255,255,.03) 10%, rgba(32,255,255, 0.3) 50%, rgba(0,212,255,.03) 100%);
        
        h2 {
            line-height: 60px;
        }
    }
}
.holoContainerLayover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    border-radius: 45px; 
    background-color: rgba(0, 0, 0, .5);
}

