.holoContainerLayover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, .5);
    transition: all 500ms;
}

.holoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border: 2px solid #20FFFF;
    color: #20FFFF;
    border-radius: 45px; 
    overflow-x: auto;
    padding-bottom: 10px;
    transition: all 500ms;

         
    .holo-top {
        width: 95%;
        height: 60px;
        border-bottom: 2px solid #20FFFF;
        margin: 0 auto;
        border-radius: 45px;
        background-color: rgba(32,255,255, .2);
        background: linear-gradient(90deg, rgba(0, 0, 0, .8) 10%, rgba(35, 55, 55, 1) 50%, rgba(0, 0, 0, .8) 100%);
        position: sticky;
        top: 0;
        z-index: 2;
        h2 {
            line-height: 60px;
        }
    }
    main {
        display: flex;
    }
    // ABOUT CARD
    @import 'holoCards/_about.scss';
    // PROJECTS CARD
    @import 'holoCards/_projects.scss';
    // CONTACTS CARD
    @import 'holoCards/_contacts.scss';


}
i {
    position: sticky;
    bottom: 20px;
    left: 93%;
    font-size: 2rem;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        display: none !important;
    }
}
.max-width {
    width: 100% !important;
    height: 96vh !important;
    top: 49%;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, .6);
}





