.holoContainer {

    @media screen and (max-width: 992px) {
        width: 90%;
        height: 40%;
    }
    // @media screen and (max-height: 900px) {
    //     width: 90%;
    //     height: 90%;
    // }
    @media screen and (max-width: 768px) {
        width: 70%;
        height: 50%;
    }
    @media screen and (max-height: 768px) {
        // width: 40%;
        height: 23%;
        top: 62%;
    }
    @media screen and (max-width: 720px) {
        width: 90%;
        height: 60%;
    }
    @media screen and (max-width: 640px) {
        width: 90%;
        height: 90%;
    }
    // @media screen and (max-height: 640px) {
    //     width: 90%;
    //     height: 40%;
    // }
    @media screen and (max-width: 480px) {
        width: 90%;
        height: 100%;
    }
    @media screen and (max-width: 375px) {
        width: 95%;
        height: 100%;
        
            
    }
    @media screen and (max-width: 320px) {
        width: 95%;
        height: 80%;
            
    }
}

.holoContainerLayover {

    @media screen and (max-width: 992px) {
        width: 90%;
        height: 40%;
    }
    // @media screen and (max-height: 900px) {
    //     width: 90%;
    //     height: 90%;
    // }
    @media screen and (max-width: 768px) {
        width: 70%;
        height: 50%;
    }
    // @media screen and (max-height: 768px) {
    //     width: 90%;
    //     height: 75%;
    // }
    @media screen and (max-width: 720px) {
        width: 90%;
        height: 60%;
    }
    @media screen and (max-width: 640px) {
        width: 90%;
        height: 90%;
    }
    // @media screen and (max-height: 640px) {
    //     width: 90%;
    //     height: 40%;
    // }
    @media screen and (max-width: 480px) {
        width: 90%;
        height: 90%;
    }
    @media screen and (max-width: 375px) {
        width: 95%;
        height: 95%;
        background-color: rgba(0, 0, 0, .2);
    }
    @media screen and (max-width: 320px) {
        width: 95%;
        height: 80%;
        background-color: rgba(0, 0, 0, .2);
    }
}