.holoContainer,
.holoContainerLayover {
    @media all and (min-width: 300px) and (max-width: 374px) {
      width: 80%;
      height: 80%;  
    }
    @media all and (min-width: 375px) and (max-width: 480px) {
        width: 90%;
        height: 100%;
    }
    @media all and (min-width: 481px) and (max-width: 700px) {
      width: 70%;
      height: 70%;  
    }
    @media all and (min-width: 701px) and (max-width: 1024px) {
      width: 90%;
      height: 90%;  
    }
    @media all and (min-width: 1025px) and (max-width: 1200px) {
      width: 90%;
      height: 90%;  
    }
    @media all and (min-width: 1201px) and (max-width: 1440px) {
      width: 30%;
      height: 27%;  
    }
    @media all and (min-width: 1441px) and (max-width: 1920px) {
      width: 35%;
      height: 33%;  
    }
    @media all and (min-width: 1921px) and (max-width: 2560px) {
      width: 35%;
      height: 30%;  
    }
    @media all and (min-width: 2561px) and (max-width: 3072px) {
      width: 45%;
      height: 45%;  
    }
    @media all and (min-width: 3073px) and (max-width: 3840px) {
      width: 65%;
      height: 60%;  
    }
    @media all and (min-width: 3840px) {
      width: 90%;
      height: 90%;  
    }

}

.carousel-3d-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .carousel-3d-slide {
        background: none;
        border: none;
    }

    @media screen and (min-width: 300px) and (max-width: 374px) {
        top: 45%;
        left: 50%;
        perspective: 200px;
    }
    @media all and (min-width: 375px) and (max-width: 480px) {
        top: 45%;
        left: 50%;  
        perspective: 400px;  
    }
    @media all and (min-width: 481px) and (max-width: 700px) {
        top: 40%;
        left: 50%;
        perspective: 600px;
    }
    @media all and (min-width: 701px) and (max-width: 1024px) {
         top: 55%;
         left: 50%;
        perspective: 800px;
    }

}

#about {
  @media all and (min-width: 300px) and (max-width: 374px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;
    b {
      font-size: .6em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 375px) and (max-width: 480px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;
    b {
      font-size: .8em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 481px) and (max-width: 700px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;

    b {
      font-size: 1em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 701px) and (max-width: 1024px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;

    b {
      font-size: 1em !important;
      padding-bottom: 25px !important;
    }
  }
}

#contacts {
  @media all and (min-width: 300px) and (max-width: 374px) {
    padding: 10px;
    height: 75% !important;
    .fab,
    .far {
      font-size: 2em !important;
    }
     h1 {
       font-size: 1em;
     }

     h1:nth-child(2) {
       margin-top: -50px !important;
     }
  }

  @media all and (min-width: 375px) and (max-width: 700px) {
   h1 {
     font-size: 1.8em;
   }
    h1:nth-child(2) {
      margin-top: 0 !important;
    }
  }
}

#footer {
  @media all and (min-width: 300px) and (max-width: 374px) {
    font-size: .5em;
  }

  @media all and (min-width: 375px) and (max-width: 700px) { 
    font-size: .8em;
  }
}