.holoContainer,
.holoContainerLayover {
    @media all and (min-width: 300px) and (max-width: 374px) {
      width: 80%;
      height: 80%;  
    }
    @media all and (min-width: 375px) and (max-width: 480px) {
        width: 90%;
        height: 100%;
    }
    @media all and (min-width: 481px) and (max-width: 768px) {
      width: 70%;
      height: 70%;  
    }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      width: 90%;
      height: 90%;  
    }
    @media all and (min-width: 1025px) and (max-width: 1200px) {
      width: 90%;
      height: 90%;  
    }
    @media all and (min-width: 1201px) and (max-width: 1920px) {
      width: 35%;
      height: 27%;  
    }
    @media all and (min-width: 1921px) and (max-width: 2560px) {
      width: 35%;
      height: 30%;  
    }
    @media all and (min-width: 2561px) and (max-width: 3072px) {
      width: 45%;
      height: 45%;  
    }
    @media all and (min-width: 3073px) and (max-width: 3840px) {
      width: 65%;
      height: 60%;  
    }
    @media all and (min-width: 3840px) {
      width: 90%;
      height: 90%;  
    }

}

.carousel-3d-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .carousel-3d-slide {
        background: none;
        border: none;
    }

    @media screen and (min-width: 300px) and (max-width: 374px) {
        top: 45%;
        left: 50%;
        perspective: 200px;
    }
    @media all and (min-width: 375px) and (max-width: 480px) {
        top: 40%;
        left: 50%;  
        perspective: 400px;  
    }
    @media all and (min-width: 481px) and (max-width: 768px) {
        top: 40%;
        left: 50%;
        perspective: 600px;
    }
    @media all and (min-width: 769px) and (max-width: 1024px) {
         top: 55%;
         left: 50%;
        perspective: 800px;
    }

}

#about {
  @media all and (min-width: 300px) and (max-width: 374px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;
    b {
      font-size: .6em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 375px) and (max-width: 480px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;
    b {
      font-size: .8em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 481px) and (max-width: 768px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;

    b {
      font-size: 1em !important;
      padding-bottom: 25px !important;
    }
  }

  @media all and (min-width: 769px) and (max-width: 1024px) {
    margin: 0px 15px !important;
    height: 85%;
    padding: 10px !important;
    transition: all 500ms;
    line-height: 1.5em !important;

    b {
      font-size: 1em !important;
      padding-bottom: 25px !important;
    }
  }
}