
.highlight {
  a {
    color:#20FFFF !important;
  }
}

// Glitch animation
.nav {
  // home
  li:first-child {
    position: relative;
    animation: glitch 7s 7s infinite;
  }
  // about
  li:nth-child(2) {
    position: relative;
    animation: glitch 3s 3s infinite;
  }
  // projects
  li:nth-child(3) {
    position: relative;
    animation: glitch 4s 4s infinite;
  }
  // contacts
  li:nth-child(4) {
    position: relative;
    animation: glitch 5s 5s infinite;
  }
}

.nav-item {
  z-index: 2 !important;

  a {
    color: magenta;
    margin-right: 40px;
    font-size: 1.5em;
    margin-top: 30px;
    transition: 300ms;
  } 

  a:hover {
    color: magenta;
    font-size: 1.8em;
    transition: 300ms;
  } 
}


@media screen and (max-width: 992px) {
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 0;
      font-size: 1em;
    }
    a:hover {
      color: magenta;
      font-size: 1.3em;
      transition: 300ms;
    }
  } 
  .highlight {
    a {
      font-size: 1.3em;
    }
  }
}  

@media screen and (max-width: 375px) {  
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 10px;
      font-size: .7em;
    }
    a:hover {
      color: magenta;
      font-size: 1em;
      transition: 300ms;
    }
  }  
  .highlight {
    a {
      font-size: 1em;
    }
  }
}
@media screen and (max-width: 300px) {  
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 10px;
      font-size: .5em;
    }
    a:hover {
      color: magenta;
      font-size: .7em;
      transition: 300ms;
    }
  } 
  .highlight {
    a {
      font-size: .7em;
    }
  }
}



@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}






