
.highlight {
  a {
    color:#20FFFF !important;
  }
}



.nav-item {
  z-index: 2 !important;

  a {
    color: magenta;
    margin-right: 40px;
    font-size: 1.5em;
    margin-top: 10px;
    transition: 300ms;
  } 

  a:hover {
    color: magenta;
    font-size: 1.8em;
    transition: 300ms;
  } 
}

@media screen and (max-width: 992px) {
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 0;
      font-size: .7em;
    }
    a:hover {
      color: magenta;
      font-size: .7em;
      transition: 300ms;
    }
    .nav-link {
      padding: 0.5rem 0.5rem;
    }
  } 
  .highlight {
    a {
      font-size: .7em;
    }
  }
}  

@media screen and (max-width: 375px) {  
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 10px;
      font-size: .6em;
    }
    a:hover {
      color: magenta;
      font-size: .6em;
      transition: 300ms;
    }
  }  
  .highlight {
    a {
      font-size: .6em;
    }
  }
}
@media screen and (max-width: 300px) {  
  .nav-item {
    a {
      color: magenta;
      margin-right: 0;
      margin-top: 10px;
      font-size: .5em;
    }
    a:hover {
      color: magenta;
      font-size: .5em;
      transition: 300ms;
    }
  } 
  .highlight {
    a {
      font-size: .5em;
    }
  }
}









